body{
	text-align: center;
}

#picture{

}

#IC1{
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: red;
	margin: 500px;
}
#IC2{
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: green;
	margin: 500px;
}


img {
	height: 250px;
	width: 250px;
	margin: -100px
}