body{
	text-align: center;
}

#picture{

}

#IC1{
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: red;
<<<<<<< HEAD
	margin: 50px;
=======
	margin: 100px;
>>>>>>> origin/master
}
#IC2{
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: green;
<<<<<<< HEAD
	margin: 50px;
=======
	margin: 100px;
>>>>>>> origin/master
}


img {
	height: 250px;
	width: 250px;
	margin: -100px
}